# Preparing bank panel data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from load_data.load_bank_panel import load_call_reports
from load_data.load_bank_panel import load_risk_reports

## Loading Data from Call Reports

### Defining parameters for loading data

#### 1. Specify the folder containing call reports (each report date stored in its own zipped folder)

In [3]:
call_reports_folder = "Data\Bank_panel\call_reports"

#### 2. Specify the names of the call reports and the columns required for retrieval

In [4]:
files_dic = {
    # File with banks' info
    'FFIEC CDR Call Bulk POR': {'IDRSSD': 'IDRSSD', 
                                'Financial Institution Name': 'Financial Institution Name'},
    
    # Balance Sheet
    'FFIEC CDR Call Schedule RC': {'IDRSSD': 'IDRSSD',
                                   'RCFD2170': 'TOTAL ASSETS', 
                                   'RCFN2200': 'TOTAL DEPOSITS',
                                   'RCFD3300': 'TOT LIAB, RESERVE & CAPITAL ACCOUNTS', 
                                   'RCFD2948': 'TOTAL LIABILITIES', 
                                   'RCON3210': 'TOTAL EQUITY CAPITAL'},
    # Income Statement
    'FFIEC CDR Call Schedule RI': {'IDRSSD': 'IDRSSD',
                                   'RIAD4074': 'NET INTEREST INCOME',
                                   'RIAD4073': 'TOTAL INTEREST EXPENSE',
                                   'RIAD4107': 'TOTAL INTEREST INCOME',
                                   'RIAD4079': 'TOTAL NONINTEREST INCOME',
                                   'RIAD4093': 'TOTAL NONINTEREST EXPENSE',
                                   'RIAD4300': 'NET INCOME BEFORE EXTRAORDINARY ITEM', 
                                   'RIAD4301': 'INCOME (LOSS) BEFORE APPLICABLE INCOME TAXES', 
                                   'RIAD4230': 'PROVISION FOR LOAN AND LEASE LOSSES',
                                   'RIADJJ33': 'Provision for loan and lease losses'}
}

### Loading

In [5]:
df_call_reports = load_call_reports(call_reports_folder, files_dic)

In [6]:
df_call_reports

,Report Date,IDRSSD,Financial Institution Name,RCFN2200,RCFD2170,RCFD2948,RCFD3300,RCON3210,RIAD4300,RIAD4301,RIAD4230,RIAD4074,RIAD4107,RIAD4093,RIAD4073,RIAD4079,RIADJJ33
0,2001-03-31,37,BANK OF HANCOCK COUNTY,NaN,NaN,NaN,NaN,11424,220,295,45,725,1327,462,602,75,NaN
1,2001-03-31,242,"FIRST NATIONAL BANK OF XENIA, THE",NaN,NaN,NaN,NaN,3503,67,90,0,224,425,164,201,30,NaN
2,2001-03-31,279,"MINEOLA COMMUNITY BANK, SSB",NaN,NaN,NaN,NaN,15481,104,114,0,537,1563,500,1026,55,NaN
3,2001-03-31,354,BISON STATE BANK,NaN,NaN,NaN,NaN,1091,11,11,0,77,148,68,71,2,NaN
4,2001-03-31,439,PEOPLES BANK,NaN,NaN,NaN,NaN,15717,464,702,0,1703,3150,1265,1447,264,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616893,2023-06-30,5788705,BANK IRVINE,NaN,NaN,NaN,NaN,27588,-661,-660,NaN,1865,2273,1943,408,2,584
616894,2023-06-30,5805424,BEACH CITIES COMMERCIAL BANK,NaN,NaN,NaN,NaN,21985,-2105,-2105,NaN,75,80,2180,5,0,0
616895,2023-06-30,5805451,"WESTERN ALLIANCE TRUST COMPANY, NATIONAL ASSOC...",NaN,NaN,NaN,NaN,34753,-3573,-4767,NaN,133,133,5123,0,223,0
616896,2023-06-30,5805817,CERIDIAN NATIONAL TRUST BANK,NaN,NaN,NaN,NaN,10364,1364,1869,NaN,91,91,8180,0,9958,0
616897,2023-06-30,5860740,COMMUNITY UNITY BANK,NaN,NaN,NaN,NaN,25672,-706,-706,NaN,387,387,1093,0,0,0

## Loading Data from UBPR Reports

### Defining parameters for loading data

#### 1. Specify the folder containing UBPR reports (each report date stored in its own zipped folder)

In [7]:
risk_reports_folder = "Data\Bank_panel\\risk_reports"

#### 2. Specify the names of the UBPR reports and the columns required for retrieval

In [8]:
files_dic = {
   
    # Balance Sheet
    'FFIEC CDR UBPR Ratios Balance Sheet dollar': {
        'Reporting Period': 'Reporting Period',
        'ID RSSD': 'ID RSSD',
        'UBPR2170': 'TOTAL ASSETS',
        'UBPR2200': 'TOTAL DEPOSITS',
        'UBPR3300': 'TOT LIAB, RESERVE & CAPITAL ACCOUNTS',
        'UBPR3545': 'TOTAL TRADING ASSETS',
    },
    
    # Summary Ratios
    'FFIEC CDR UBPR Ratios Summary Ratios': {
        'Reporting Period': 'Reporting Period',
        'ID RSSD': 'ID RSSD',
        'UBPRD659': 'Average Total Assets ($000)', 
        'UBPRE001': 'Interest Income (TE) as a percent of Average Assets',
        'UBPRE002': 'Interest Expense as a percent of Average Assets',
        'UBPRE003': 'Net Interest Income (TE) as a percent of Average Assets',
        'UBPRE004': 'Noninterest Income as a percent of Average Assets',
        'UBPRE005': 'Non-Interest Expense as a percent of Average Assets',
        'UBPRE006': 'Provision for Loan & Lease Losses as a percent of Average Assets',
        'UBPRKW07': 'Provision for credit losses on all other assets as a percent of average assets',
        
        #Net interest income on a tax-equivalent basis plus noninterest income, less noninterest expense, the provision for loan
        #and lease-financing receivable losses and the provision for allocated transfer risk, divided by average assets.
        'UBPRE007': 'Pretax Operating Income (TE) as a percent of Average Assets',
        
        # Pretax operating income, plus securities gains or losses divided by average assets.
        'UBPRE009': 'Pretax Net Operating Income (TE) as a percent of Average Assets',
        
        #After tax net operating income, including securities gains or losses, (which does not include extraordinary gains or losses),
        #divided by average assets.
        'UBPRE010': 'Net Operating Income as a percent of Average Assets',
        
        # Net operating income after taxes and securities gains or losses, plus the provision for possible loan and lease losses,
        #less net loan and lease losses, divided by average assets.
        'UBPRE011': 'Adjusted Net Operating Income as a percent of Average Assets',
        
        # Net income after securities gains or losses, extraordinary gains or losses, and applicable taxes 
        # divided by average assets.
        'UBPRE013': 'Net Income as a percent of Average Assets',
        
        # Total interest income on a tax-equivalent basis divided by the average of the respective asset accounts involved in
        # generating that income.
        'UBPRE016': 'Interest Income (TE) as a percent of Average Earning Assets',
        
        # Total interest expense divided by the average of the respective asset accounts involved in generating interest income.
        'UBPRE017': 'Interest Expense to Average Earning Assets',
        
        # Total interest income on a tax-equivalent basis, less total interest expense, divided by the average of the respective asset
        # accounts involved in generating interest income.
        'UBPRE018': 'Net Interest Income (TE) as a percent of Average Earning Assets',
        
        #Gross loan and lease charge-off, less gross recoveries (includes allocated transfer risk reserve charge-off and recoveries),
        #divided by average total loans and leases.
        'UBPRE019': 'Net Loss as a percent of Average Total Loans and Leases',
        
        #The sum of loans and lease financing receivables past due at least 90 days, plus those in nonaccrual status, 
        #divided by gross loans and lease-financing receivables outstanding.
        'UBPR7414': 'Noncurrent Loans and Leases to Gross Loans and Leases',
        
        #Tier One Leverage Ratio from Call Report Schedule RC-R.
        'UBPRD486': 'Tier One Leverage Capital',
        
        'UBPRD488': 'Total Risk-Based Capital to Risk-Weighted Assets',
          
    },
    
    
    # Liquidity
    'FFIEC CDR UBPR Ratios Liquidity and Funding': {
        'Reporting Period': 'Reporting Period',
        'ID RSSD': 'ID RSSD',
        'UBPRE591': 'Core Deposits as a percent of Total Assets',
        'UBPRE598': 'Short Term Assets as a percent Short Term Liabilities',
        'UBPRE599': 'Net Short Term Liabilities as a percent of Total Assets',
        'UBPRE600': 'Net Loans & Leases as a percent of Total Deposits',
        
    },
    
    # Income Statement
    'FFIEC CDR UBPR Ratios Income Statement dollar': {
        'Reporting Period': 'Reporting Period',
        'ID RSSD': 'ID RSSD',
        'UBPRPG64': 'Pre Provision Net Revenue YTD $ (TE)',
    },
    
}

In [9]:
df_risk_reports = load_risk_reports(risk_reports_folder, files_dic)

In [10]:
df_risk_reports

,Report Date,IDRSSD,UBPR2200,UBPR3545,UBPR2170,UBPR3300,UBPRE017,UBPRD486,UBPRD659,UBPRKW07,...,UBPRE007,UBPRD488,UBPRE003,UBPRE013,UBPRE019,UBPRE600,UBPRE591,UBPRE598,UBPRE599,UBPRPG64
0,2002-12-31,37,61501,0,74327,74327,3.44,17.1400,69925,NaN,...,1.83,32.9700,4.45,1.21,0.62,63.99,69.03,91.07,2.48,1458.0
1,2002-12-31,242,20614,0,25737,25737,2.23,14.2400,25698,NaN,...,1.65,15.0300,4.19,1.64,0.11,88.40,74.20,121.83,-5.42,440.0
2,2002-12-31,279,77842,0,132091,132091,3.10,12.6500,120144,NaN,...,1.24,39.9700,2.76,0.79,0.01,36.39,46.13,18.06,27.04,1520.0
3,2002-12-31,354,7054,0,8408,8408,1.83,13.8200,8394,NaN,...,0.81,25.6900,4.55,0.80,0.38,61.79,74.38,37.89,28.94,86.0
4,2002-12-31,439,132029,0,150496,150496,2.08,9.1200,147274,NaN,...,1.59,13.6800,4.61,0.98,0.41,79.75,75.04,73.20,10.60,2845.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556110,2023-06-30,5788705,99474,0,128376,128376,1.02,23.6527,81654,0.0,...,-1.62,NaN,4.57,-1.62,0.00,67.07,57.18,212.58,-24.54,-76.0
556111,2023-06-30,5805424,10968,0,34938,34938,1.52,80.7322,27232,NaN,...,-148.49,NaN,5.29,-148.49,NaN,0.00,31.39,9176.86,-90.93,-2105.0
556112,2023-06-30,5805451,0,0,43757,43757,0.00,154.7604,18537,NaN,...,-73.33,NaN,2.05,-54.96,NaN,NaN,0.00,NaN,-80.60,-4767.0
556113,2023-06-30,5805817,0,0,12895,12895,0.00,85.4986,11531,0.0,...,33.05,NaN,1.61,24.12,NaN,NaN,0.00,NaN,-66.44,1869.0
556114,2023-06-30,5860740,3,0,27172,27172,0.00,101.8771,25199,0.0,...,-204.52,359.9551,112.11,-204.52,NaN,0.00,0.01,NaN,-90.28,-706.0

## Merging Data from Call Reports and UBPR reports

In [11]:
df_bank_panel = df_call_reports.merge(df_risk_reports, how='outer', on=['Report Date', 'IDRSSD'])

In [12]:
df_bank_panel.to_csv('df_bank_panel.csv')